<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoC0eCygso7jzfBTAEV0xDG2E_Fw9hsDA</string>
	<key>GCM_SENDER_ID</key>
	<string>1082720907867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.al3yadahApp</string>
	<key>PROJECT_ID</key>
	<string>al3yadah-15d2d</string>
	<key>STORAGE_BUCKET</key>
	<string>al3yadah-15d2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082720907867:ios:bafde150a103d9b0b5457e</string>
</dict>
</plist>